<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/projectGCISL/static/css/registration.css">
  <body>

    <!-- Header/Nav section at the top -->

    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="submit_registration" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">First Name*</span>
              <input type="text" name="first_name" placeholder="Enter your first name" required>
            </div>
            <div class="input-box">
              <span class="details">Last Name*</span>
              <input type="text" name="last_name" placeholder="Enter your last name" required>
            </div>
            <div class="input-box">
              <span class="details">Email Address*</span>
              <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <span class="details">Confirm Email Address*</span>
              <input type="email" name="confirm_email" placeholder="Confirm your email" required>
            </div>
            <div class="input-box">
              <span class="details">Phone Number*</span>
              <input type="tel" name="phone" placeholder="Enter your phone number" required>
            </div>
            <div class="input-box">
              <span class="details">Confirm Phone Number*</span>
              <input type="tel" name="confirm_phone" placeholder="Confirm your phone number" required>
            </div>
            <div class="input-box">
              <span class="details">Password*</span>
              <input type="password" name="password" placeholder="Enter your password" required>
              <!-- <ul>
                <li>Must contain special characters.</li>
                <li>Must contain upper/lowercase letters & numbers.</li>
                <li>Must be longer than 8 characters.</li>
              </ul> -->
              <div class="password-requirements">
                Must contain special characters.<br>
                Must contain upper/lowercase letters & numbers.<br>
                Must be longer than 8 characters.
              </div>
            </div>
            <div class="input-box">
              <span class="details">Confirm Password*</span>
              <input type="password" name="confirm_password" placeholder="Confirm your password" required>
            </div>
          </div>
          <div class="age-details">
            <span class="details"> <b>Age Range</b></span>
            <select name="age_range" required>
              <option value="">Select an option</option>
              <option value="1">&lt;55</option>
              <option value="2">55-65</option>
              <option value="3">66-75</option>
              <option value="4">75+</option>
            </select>
          </div>

          <div class="button">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>