/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    padding: 1rem 2rem;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* Logo and Brand */
  .brand-logo-container {
    display: flex;
    align-items: center; /* Aligns the logo and text vertically */
  }
  
  .logo {
    height: 100px;
    margin-right: 20px; /* Add space between logo and text */
    order:2;
  }
  
  .brand-logo {
    font-size: 34px;
    color: #a32436;
    font-weight: bold;
    margin: 0; /* Ensure no extra space around the text */
    order: 1;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center; /* Ensures the links are aligned vertically */
    margin: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 27px;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .nav-links a:hover {
    color: #a32436; /* Red color on hover */
  }
  
  /* Adjust the spacing of the nav links */
  .nav-links a {
    padding-top: 10px; /* Raise the links slightly */
  }
  