/* Footer.css */
.footer {
  background-color: #a32436;
  color: white;
  padding: 10px 0; /* Adjusted padding */
  text-align: center;
  font-size: 16px;
  position: fixed; /* Make it stick to the bottom */
  bottom: 0;
  left: 0; /* Ensure it starts from the left edge */
  width: 100%;
  border-top: 2px solid #a32436;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
      padding: 10px 0;
  }
}
